.wp-block-business-profile-profiles{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 25px;
}

.wp-block-business-profiles-profile{

	width: 300px;
	padding-bottom: 25px;
	flex-shrink: 0;

	&.is-blue-background{
		background: linear-gradient(135deg, #13f1fc 0%,#0682e0 100%)
	}
	&.is-lightblue-background{
		background: lightblue
	}	
	&.is-pink-background{
		background: linear-gradient(135deg, #FF57B9 0%,#ca25e1 100%)
	}	
	&.is-lightpink-background{
		background: lightpink
	}		
	&.is-yellow-background{
		background: linear-gradient(135deg, #f2d50f 0%,#e3542e 100%)
	}	
	&.is-lightyellow-background{
		background: lightyellow
	}				
	&.is-green-background{
		background: linear-gradient(135deg, #DFEC51 0%,#83b314 100%)
	}		
	&.is-lightgreen-background{
		background: lightgreen
	}				
	&.is-gray-background{
		background: linear-gradient(135deg, #e3e3e3 0%,#727b85 100%)
	}			

	.wp-block-business-profile-profile-name{
		padding: 20px;
		padding-bottom: 0;
		margin: 0;
	}

	.wp-block-business-profile-profile-social-icons{
		display: flex;
		justify-content: left;
		padding: 10px;

		a {
			text-decoration: none;
			padding: 6px;
			span{
				font-size: 27px;
				width: auto;
				height: auto;
				color: rgb(32, 28, 28);
			}
		}
		.is-inactive span{
			display: none;
		}		
	}
	.wp-block-business-profile-profile-images{
		overflow-x: scroll;
		overflow-y: hidden;
		display: flex;
		justify-content: start;
		padding: 10px;
		
		&::-webkit-scrollbar {
			display: none;
		}
		
		.wp-block-business-profile-profile-image{
			width: 85px;
			height: 85px;
			margin: 2px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			overflow: hidden;
			border-radius: 15%;
			position: relative;

			&.no-image{
				border: 0.1px solid rgb(165, 163, 163, 0.8);
				background: rgba(255,255,255,0.3)
			}

			img{
				flex-shrink: 0;
				min-width: 100%;
				height: 100%;
				max-width: none;
			}
		}
	}

	.wp-block-business-profile-profile-description{
		margin: 0px 15px 0px 15px;
		padding: 20px;
		font-size: 13px;
		color: #2c3338;
		border: 0.1px solid rgb(165, 163, 163, 0.8);
		border-radius: 10px;

	}	

}